

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.title {
    text-align: center;
}

.title h1 {
    font-size: 5em;
    font-weight: bold;
}

.date-today {
    text-align: center;
}

td.name {
    width: 50%;
}

td.date {
    width: 40%;
}

td.task-manage {
    width: 10%;
    text-align: center;
}

.delete-task {
    color: red;
    cursor: pointer;
}

.add-task {
    color: green;
    cursor: pointer;
}
